<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServicesDataAccess.Properties.Settings.ServicesConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\andy\Documents\school\Thesis\Project\PresentationFramework\PresentationFramework\App_Data\Services.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>